@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* transition: background-color .9s ease-in-out; */
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .7s ease-in-out;
}

#container {
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#btn {
    display: flex;
    gap: 20px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-weight: bold;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#btnIncremento {
    background-color: green;
    color: white;
    border-bottom: solid 5px rgb(0, 70, 0);
}

#btnDecremento {
    background-color: red;
    color: white;
    border-bottom: solid 5px rgb(131, 0, 0);
}

#contentDecrement {
    width: 40px;
    height: 13px;
    background-color: white;
}

#btnReset {
    font-size: 16px;
    border-bottom: solid 5px rgb(85, 85, 85);
    transition: color .7s ease-in-out, background-color .7s ease-in-out, border .7s ease-in-out;
}

#btnIncremento:active,
#btnDecremento:active,
#btnReset:active {
    border-bottom: none;
}

#title {
    font-family: 'Inter', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: white;
    transition: color .7s ease-in-out;
}

#number {
    font-family: 'Inter', sans-serif;
    font-size: 120px;
    font-weight: 600;
    color: white;
    transition: color .7s ease-in-out;
}

footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    gap: 10px;
    color: white;
    transition: color .7s ease-in-out;
}

footer img {
    width: 24px;
    transition: all .7s ease-in-out;
}

footer a{
    transition: all .7s ease-in-out;
}

#changeTheme{
    width: 40px;
    height: 20px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 3px;
    cursor: pointer;
    position: fixed;
    right: 30px;
    top: 30px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#btnChange{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}